<div class="panel-body">
	<form class="form-horizontal">
		<fieldset>
			<legend>{{modelName}} Info</legend>
			<div editor="id"></div>
			<div editor="title"></div>
			<div editor="content"></div> 			   						
			<div class="form-group">
	      		<div class="col-md-10 col-md-offset-4">
	      			<button class="btn btn-primary" type="button" action="submit" style="margin-right:10px">Submit</button>
	      			<button class="btn btn-default" type="button" action="cancel">Cancel</button>
	      		</div>
	    	</div>						
		</fieldset>
	</form>			
</div>  