<div class="panel-body">
	<div class="model-info hidden">
		<div class="title text-primary">Image</div>
		<ol class="breadcrumb"><li><a href="#">1</a></li></ol>	
	</div>
	<div class="model-header clearfix">
		<div class="pull-right"><button type="button" class="btn btn-primary" action="add">Add</button></div>	
	</div>
	<div class="model-body">
		<div region="datagrid"></div>
		<div region="pagination" class="clearfix"></div>		
		<div region="form" view="App::Blank"></div>	
	</div>
	<div class="model-footer"></div>		
</div>     